<a href="https://colab.research.google.com/github/epark21/DSBA6400/blob/master/internship_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [ ]:
mergetvl=pd.read_csv('gdrive/My Drive/Colab Notebooks/mergetvl2.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (41,50) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
mergetvl.columns

Index(['Unnamed: 0', 'tic', 'year', 'month', 'day', 'date', 'datadate',
       'accessandaffordability cus_sub1', 'competitivebehavior cus_sub2',
       'customerprivacy cus_sub3', 'customerwelfare cus_sub4',
       'productdesignandlifecyclemanagem cus_sub5',
       'productqualityandsafety cus_sub6',
       'sellingpracticesandproductlabeli cus_sub7', 'cus_all',
       'employeeengagementdiversityandin emp_sub1',
       'employeehealthandsafety emp_sub2', 'laborpractices emp_sub3',
       'emp_all', 'airquality env_sub1', 'ecologicalimpacts env_sub2',
       'energymanagement env_sub3', 'ghgemissions env_sub4',
       'materialssourcingandefficiency env_sub5',
       'physicalimpactsofclimatechange env_sub6',
       'wasteandhazardousmaterialsmanage env_sub7',
       'waterandwastewatermanagement env_sub8', 'env_all', 'com_sub1',
       'com_all', 'businessethics oth_sub1',
       'businessmodelresilience oth_sub2',
       'criticalincidentriskmanagement oth_sub3', 'datasecurity oth_sub4',
       'managementofthelegalandregulator oth_sub5',
       'supplychainmanagement oth_sub6', 'systemicriskmanagement oth_sub7',
       'oth_all', 'organizationtvlid', 'instrumenttvlid', 'organizationpermid',
       'instrumentpermid', 'date.1', 'date2', 'ïorganizationname',
       'organizationstatus', 'instrumentcountry', 'exchange', 'ownership',
       'instrumentstatus', 'parentcompany', 'allcategories', 'materiality',
       'gvkey', 'iid', 'conm', 'div', 'prccd', 'pprccd', 'stockdailyreturn',
       'S&Pindex', 'MarketDailyReturn', 'abovemarketdailyreturn'],
      dtype='object')

In [ ]:
mergetvl

        Unnamed: 0   tic  ...  MarketDailyReturn  abovemarketdailyreturn
0                0     A  ...           0.000000                     inf
1                1     A  ...          -0.007060               -0.008996
2                2     A  ...           0.003533               -0.000577
3                3     A  ...          -0.002803                0.005869
4                4     A  ...           0.004902                0.004971
...            ...   ...  ...                ...                     ...
474774      474774  ZYXI  ...          -0.025855               -0.004958
474775      474775  ZYXI  ...           0.010959                0.037790
474776      474776  ZYXI  ...          -0.024227               -0.053380
474777      474777  ZYXI  ...           0.014686                0.001090
474778      474778  ZYXI  ...           0.015410                0.057498

[474779 rows x 63 columns]

In [ ]:
merge=mergetvl.drop(columns=['Unnamed: 0'])

In [ ]:
merge

         tic  year  ...  MarketDailyReturn  abovemarketdailyreturn
0          A  2020  ...           0.000000                     inf
1          A  2020  ...          -0.007060               -0.008996
2          A  2020  ...           0.003533               -0.000577
3          A  2020  ...          -0.002803                0.005869
4          A  2020  ...           0.004902                0.004971
...      ...   ...  ...                ...                     ...
474774  ZYXI  2020  ...          -0.025855               -0.004958
474775  ZYXI  2020  ...           0.010959                0.037790
474776  ZYXI  2020  ...          -0.024227               -0.053380
474777  ZYXI  2020  ...           0.014686                0.001090
474778  ZYXI  2020  ...           0.015410                0.057498

[474779 rows x 62 columns]

In [ ]:
merge.tail()

         tic  year  ...  MarketDailyReturn  abovemarketdailyreturn
474774  ZYXI  2020  ...          -0.025855               -0.004958
474775  ZYXI  2020  ...           0.010959                0.037790
474776  ZYXI  2020  ...          -0.024227               -0.053380
474777  ZYXI  2020  ...           0.014686                0.001090
474778  ZYXI  2020  ...           0.015410                0.057498

[5 rows x 62 columns]

In [ ]:
#letters=pd.read_csv('gdrive/My Drive/Colab Notebooks/letters.csv', engine='python')

ticker=pd.read_csv('gdrive/My Drive/Colab Notebooks/ticker.csv')

In [ ]:
ticker

      tic
0     MMM
1     AOS
2     ABT
3    ABBV
4    ABMD
..    ...
500   YUM
501  ZBRA
502   ZBH
503  ZION
504   ZTS

[505 rows x 1 columns]

In [ ]:
x=pd.merge(merge,ticker,on=["tic"])

#df3=pd.merge(df_tvl2,df2,on=["tic","datadate"])
#df2=pd.merge(df,df_yahoo,on="datadate",how="outer")

In [ ]:
x

       tic  year  month  ...     S&Pindex MarketDailyReturn  abovemarketdailyreturn
0        A  2020      1  ...  3257.850098          0.000000                     inf
1        A  2020      1  ...  3234.850098         -0.007060               -0.008996
2        A  2020      1  ...  3246.280029          0.003533               -0.000577
3        A  2020      1  ...  3237.179932         -0.002803                0.005869
4        A  2020      1  ...  3253.050049          0.004902                0.004971
...    ...   ...    ...  ...          ...               ...                     ...
59870  ZTS  2020      6  ...  3050.330078         -0.025855               -0.001732
59871  ZTS  2020      6  ...  3083.760010          0.010959               -0.003439
59872  ZTS  2020      6  ...  3009.050049         -0.024227                0.004642
59873  ZTS  2020      6  ...  3053.239990          0.014686               -0.019812
59874  ZTS  2020      6  ...  3100.290039          0.015410                0.022929

[59875 rows x 62 columns]

In [ ]:
import pandas as pd
x = pd.DataFrame(x)
udates=x['date'].unique()
x['date'] = pandas.to_datetime(x['date'])

In [ ]:
filled_df = (x.set_index('date')
             .groupby('tic')
             .apply(lambda d: d.reindex(pd.date_range(min(x.date),
                                                      max(x.date),
                                                      freq='D')))
             .drop('tic', axis=1)
             .reset_index('tic')
             .fillna(0))

In [ ]:
filled_df

            tic    year  ...  MarketDailyReturn  abovemarketdailyreturn
2020-01-02    A  2020.0  ...           0.000000                     inf
2020-01-03    A  2020.0  ...          -0.007060               -0.008996
2020-01-04    A     0.0  ...           0.000000                0.000000
2020-01-05    A     0.0  ...           0.000000                0.000000
2020-01-06    A  2020.0  ...           0.003533               -0.000577
...         ...     ...  ...                ...                     ...
2020-06-26  ZTS  2020.0  ...          -0.024227                0.004642
2020-06-27  ZTS     0.0  ...           0.000000                0.000000
2020-06-28  ZTS     0.0  ...           0.000000                0.000000
2020-06-29  ZTS  2020.0  ...           0.014686               -0.019812
2020-06-30  ZTS  2020.0  ...           0.015410                0.022929

[86699 rows x 61 columns]

In [ ]:
filled_df.columns

Index(['tic', 'year', 'month', 'day', 'datadate',
       'accessandaffordability cus_sub1', 'competitivebehavior cus_sub2',
       'customerprivacy cus_sub3', 'customerwelfare cus_sub4',
       'productdesignandlifecyclemanagem cus_sub5',
       'productqualityandsafety cus_sub6',
       'sellingpracticesandproductlabeli cus_sub7', 'cus_all',
       'employeeengagementdiversityandin emp_sub1',
       'employeehealthandsafety emp_sub2', 'laborpractices emp_sub3',
       'emp_all', 'airquality env_sub1', 'ecologicalimpacts env_sub2',
       'energymanagement env_sub3', 'ghgemissions env_sub4',
       'materialssourcingandefficiency env_sub5',
       'physicalimpactsofclimatechange env_sub6',
       'wasteandhazardousmaterialsmanage env_sub7',
       'waterandwastewatermanagement env_sub8', 'env_all', 'com_sub1',
       'com_all', 'businessethics oth_sub1',
       'businessmodelresilience oth_sub2',
       'criticalincidentriskmanagement oth_sub3', 'datasecurity oth_sub4',
       'managementofthelegalandregulator oth_sub5',
       'supplychainmanagement oth_sub6', 'systemicriskmanagement oth_sub7',
       'oth_all', 'organizationtvlid', 'instrumenttvlid', 'organizationpermid',
       'instrumentpermid', 'date.1', 'date2', 'ïorganizationname',
       'organizationstatus', 'instrumentcountry', 'exchange', 'ownership',
       'instrumentstatus', 'parentcompany', 'allcategories', 'materiality',
       'gvkey', 'iid', 'conm', 'div', 'prccd', 'pprccd', 'stockdailyreturn',
       'S&Pindex', 'MarketDailyReturn', 'abovemarketdailyreturn'],
      dtype='object')

In [ ]:
filled_df.to_csv('filled.csv')

In [ ]:
df=pd.read_csv('gdrive/My Drive/Colab Notebooks/filled.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (46) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df

       tic  year  month  ...     S&Pindex MarketDailyReturn  abovemarketdailyreturn
0        A  2020      1  ...  3257.850098          0.000000                     inf
1        A  2020      1  ...  3234.850098         -0.007060               -0.008996
2        A     0      0  ...     0.000000          0.000000                0.000000
3        A     0      0  ...     0.000000          0.000000                0.000000
4        A  2020      1  ...  3246.280029          0.003533               -0.000577
...    ...   ...    ...  ...          ...               ...                     ...
86694  ZTS  2020      6  ...  3009.050049         -0.024227                0.004642
86695  ZTS     0      0  ...     0.000000          0.000000                0.000000
86696  ZTS     0      0  ...     0.000000          0.000000                0.000000
86697  ZTS  2020      6  ...  3053.239990          0.014686               -0.019812
86698  ZTS  2020      6  ...  3100.290039          0.015410                0.022929

[86699 rows x 59 columns]

In [ ]:
df.loc[df['abovemarketdailyreturn'] == 0,'abovemarketdailyreturn'] = np.nan

In [ ]:
df

       tic  year  month  ...     S&Pindex MarketDailyReturn  abovemarketdailyreturn
0        A  2020      1  ...  3257.850098          0.000000                     inf
1        A  2020      1  ...  3234.850098         -0.007060               -0.008996
2        A     0      0  ...     0.000000          0.000000                     NaN
3        A     0      0  ...     0.000000          0.000000                     NaN
4        A  2020      1  ...  3246.280029          0.003533               -0.000577
...    ...   ...    ...  ...          ...               ...                     ...
86694  ZTS  2020      6  ...  3009.050049         -0.024227                0.004642
86695  ZTS     0      0  ...     0.000000          0.000000                     NaN
86696  ZTS     0      0  ...     0.000000          0.000000                     NaN
86697  ZTS  2020      6  ...  3053.239990          0.014686               -0.019812
86698  ZTS  2020      6  ...  3100.290039          0.015410                0.022929

[86699 rows x 59 columns]

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df.index = df['date']
del df['date']

In [ ]:
#df.groupby('tic').resample('D').mean().head(210)

                year  month  ...  MarketDailyReturn  abovemarketdailyreturn
tic date                     ...
A   2020-01-02  2020      1  ...           0.000000                     inf
    2020-01-03  2020      1  ...          -0.007060               -0.008996
    2020-01-04     0      0  ...           0.000000                     NaN
    2020-01-05     0      0  ...           0.000000                     NaN
    2020-01-06  2020      1  ...           0.003533               -0.000577
...              ...    ...  ...                ...                     ...
AAL 2020-01-26     0      0  ...           0.000000                     NaN
    2020-01-27  2020      1  ...          -0.015731               -0.039624
    2020-01-28  2020      1  ...           0.010054                0.020203
    2020-01-29  2020      1  ...          -0.000867               -0.002851
    2020-01-30  2020      1  ...           0.003134                0.031194

[210 rows x 47 columns]

In [ ]:
df_interpol = df.groupby('tic')\
                .resample('D')\
                .mean()
df_interpol['abovemarketdailyreturn'] = df_interpol['abovemarketdailyreturn'].interpolate()

In [ ]:
df_interpol

                year  month  ...  MarketDailyReturn  abovemarketdailyreturn
tic date                     ...
A   2020-01-02  2020      1  ...           0.000000                     inf
    2020-01-03  2020      1  ...          -0.007060               -0.008996
    2020-01-04     0      0  ...           0.000000               -0.006190
    2020-01-05     0      0  ...           0.000000               -0.003383
    2020-01-06  2020      1  ...           0.003533               -0.000577
...              ...    ...  ...                ...                     ...
ZTS 2020-06-26  2020      6  ...          -0.024227                0.004642
    2020-06-27     0      0  ...           0.000000               -0.003509
    2020-06-28     0      0  ...           0.000000               -0.011660
    2020-06-29  2020      6  ...           0.014686               -0.019812
    2020-06-30  2020      6  ...           0.015410                0.022929

[86699 rows x 47 columns]

In [ ]:
df_interpol

                year  month  ...  MarketDailyReturn  abovemarketdailyreturn
tic date                     ...
A   2020-01-02  2020      1  ...           0.000000                     inf
    2020-01-03  2020      1  ...          -0.007060               -0.008996
    2020-01-04     0      0  ...           0.000000               -0.006190
    2020-01-05     0      0  ...           0.000000               -0.003383
    2020-01-06  2020      1  ...           0.003533               -0.000577
...              ...    ...  ...                ...                     ...
ZTS 2020-06-26  2020      6  ...          -0.024227                0.004642
    2020-06-27     0      0  ...           0.000000               -0.003509
    2020-06-28     0      0  ...           0.000000               -0.011660
    2020-06-29  2020      6  ...           0.014686               -0.019812
    2020-06-30  2020      6  ...           0.015410                0.022929

[86699 rows x 47 columns]

In [ ]:
df2=pd.read_csv('gdrive/My Drive/Colab Notebooks/dfinter.csv')

In [ ]:
df2

       tic       date  ...  MarketDailyReturn  abovemarketdailyreturn
0        A   1/2/2020  ...           0.000000                     inf
1        A   1/3/2020  ...          -0.007060               -0.008996
2        A   1/4/2020  ...           0.000000               -0.006190
3        A   1/5/2020  ...           0.000000               -0.003383
4        A   1/6/2020  ...           0.003533               -0.000577
...    ...        ...  ...                ...                     ...
86694  ZTS  6/26/2020  ...          -0.024227                0.004642
86695  ZTS  6/27/2020  ...           0.000000               -0.003509
86696  ZTS  6/28/2020  ...           0.000000               -0.011660
86697  ZTS  6/29/2020  ...           0.014686               -0.019812
86698  ZTS  6/30/2020  ...           0.015410                0.022929

[86699 rows x 49 columns]

In [ ]:
letters=pd.read_csv('gdrive/My Drive/Colab Notebooks/letters.csv', engine='python')

In [ ]:
letters.head(15)

     tic  ... Media(e.g., company website, company social media, top leadership personal social media, etc.)
0    MMM  ...                                    company website
1    AOS  ...                                    company website
2    ABT  ...                      company website press release
3   ABBV  ...                                    company website
4   ABMD  ...                                    company website
5    ACN  ...                                    company website
6   ATVI  ...                              Official twitter page
7   ADBE  ...                                    company website
8    AAP  ...                                    company website
9    AMD  ...                                    company website
10   AES  ...                                    company website
11   AFL  ...                                    company website
12     A  ...                                    company website
13   APD  ...                       company website news release
14  AKAM  ...                                    company website

[15 rows x 9 columns]

In [ ]:
df3=pd.merge(df2, letters, on=['tic','date'],how='left')

In [ ]:
df3.head(105)

    tic  ... Media(e.g., company website, company social media, top leadership personal social media, etc.)
0     A  ...                                                NaN
1     A  ...                                                NaN
2     A  ...                                                NaN
3     A  ...                                                NaN
4     A  ...                                                NaN
..   ..  ...                                                ...
100   A  ...                                                NaN
101   A  ...                                                NaN
102   A  ...                                                NaN
103   A  ...                                    company website
104   A  ...                                                NaN

[105 rows x 56 columns]

In [ ]:
df3

       tic  ... Media(e.g., company website, company social media, top leadership personal social media, etc.)
0        A  ...                                                NaN
1        A  ...                                                NaN
2        A  ...                                                NaN
3        A  ...                                                NaN
4        A  ...                                                NaN
...    ...  ...                                                ...
86694  ZTS  ...                                                NaN
86695  ZTS  ...                                                NaN
86696  ZTS  ...                                                NaN
86697  ZTS  ...                                                NaN
86698  ZTS  ...                                                NaN

[86699 rows x 56 columns]

In [ ]:
donations=pd.read_csv('gdrive/My Drive/Colab Notebooks/donations.csv', engine='python')

In [ ]:
donations

      tic  ...     type
0     ABC  ...     cash
1     ADI  ...  in-kind
2     ADI  ...     cash
3     ADM  ...     cash
4     AEE  ...     cash
..    ...  ...      ...
617   YUM  ...  in-kind
618  ZBRA  ...  in-kind
619   ZBH  ...  in-kind
620  ZION  ...      NaN
621   ZTS  ...     cash

[622 rows x 4 columns]

In [ ]:
df4=pd.merge(df3, donations, on=['tic','date'],how='left')

In [ ]:
df4.head(80)

   tic       date  ...                             donation_news_fulltext     type
0    A   1/2/2020  ...                                                NaN      NaN
1    A   1/3/2020  ...                                                NaN      NaN
2    A   1/4/2020  ...                                                NaN      NaN
3    A   1/5/2020  ...                                                NaN      NaN
4    A   1/6/2020  ...                                                NaN      NaN
..  ..        ...  ...                                                ...      ...
75   A  3/17/2020  ...                                                NaN      NaN
76   A  3/18/2020  ...  Keysight�s Response to Coronavirus MESSAGE FRO...  in-kind
77   A  3/19/2020  ...                                                NaN      NaN
78   A  3/20/2020  ...                                                NaN      NaN
79   A  3/21/2020  ...                                                NaN      NaN

[80 rows x 58 columns]

In [ ]:
df4

       tic       date  ...  donation_news_fulltext  type
0        A   1/2/2020  ...                     NaN   NaN
1        A   1/3/2020  ...                     NaN   NaN
2        A   1/4/2020  ...                     NaN   NaN
3        A   1/5/2020  ...                     NaN   NaN
4        A   1/6/2020  ...                     NaN   NaN
...    ...        ...  ...                     ...   ...
86698  ZTS  6/26/2020  ...                     NaN   NaN
86699  ZTS  6/27/2020  ...                     NaN   NaN
86700  ZTS  6/28/2020  ...                     NaN   NaN
86701  ZTS  6/29/2020  ...                     NaN   NaN
86702  ZTS  6/30/2020  ...                     NaN   NaN

[86703 rows x 58 columns]

In [ ]:
covid=pd.read_stata('gdrive/My Drive/Colab Notebooks/covid_daily_allstates.dta')

In [ ]:
covid

          date state  positive  ...  positivescore  score  grade
0     20200306    AK       0.0  ...              0      0    NaN
1     20200307    AK       0.0  ...              0      0    NaN
2     20200308    AK       0.0  ...              0      0    NaN
3     20200309    AK       0.0  ...              0      0    NaN
4     20200310    AK       0.0  ...              0      0    NaN
...        ...   ...       ...  ...            ...    ...    ...
7124  20200706    WY    1634.0  ...              0      0    NaN
7125  20200707    WY    1711.0  ...              0      0    NaN
7126  20200708    WY    1740.0  ...              0      0    NaN
7127  20200709    WY    1774.0  ...              0      0    NaN
7128  20200710    WY    1790.0  ...              0      0    NaN

[7129 rows x 41 columns]

In [ ]:
covid.to_csv('covid.csv')

In [ ]:
covid2=pd.read_csv('gdrive/My Drive/Colab Notebooks/covid.csv')

In [ ]:
covid2

      datadate state  positiveincrease  deathincrease
0     20200306    AK                 0              0
1     20200307    AK                 0              0
2     20200308    AK                 0              0
3     20200309    AK                 0              0
4     20200310    AK                 0              0
...        ...   ...               ...            ...
7124  20200706    WY                 0              0
7125  20200707    WY                77              0
7126  20200708    WY                29              1
7127  20200709    WY                34              0
7128  20200710    WY                16              0

[7129 rows x 4 columns]

In [ ]:
covid2['date'] = covid2['datadate'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [ ]:
covid2

      datadate state  positiveincrease  deathincrease       date
0     20200306    AK                 0              0 2020-03-06
1     20200307    AK                 0              0 2020-03-07
2     20200308    AK                 0              0 2020-03-08
3     20200309    AK                 0              0 2020-03-09
4     20200310    AK                 0              0 2020-03-10
...        ...   ...               ...            ...        ...
7124  20200706    WY                 0              0 2020-07-06
7125  20200707    WY                77              0 2020-07-07
7126  20200708    WY                29              1 2020-07-08
7127  20200709    WY                34              0 2020-07-09
7128  20200710    WY                16              0 2020-07-10

[7129 rows x 5 columns]

In [ ]:
covid2=covid2.drop(columns=['datadate'])

In [ ]:
covid2

     state  positiveincrease  deathincrease       date
0       AK                 0              0 2020-03-06
1       AK                 0              0 2020-03-07
2       AK                 0              0 2020-03-08
3       AK                 0              0 2020-03-09
4       AK                 0              0 2020-03-10
...    ...               ...            ...        ...
7124    WY                 0              0 2020-07-06
7125    WY                77              0 2020-07-07
7126    WY                29              1 2020-07-08
7127    WY                34              0 2020-07-09
7128    WY                16              0 2020-07-10

[7129 rows x 4 columns]

In [ ]:
covid4 = covid2.groupby('date')['deathincrease'].sum()

In [ ]:
covid4

date
2020-01-22      0
2020-01-23      0
2020-01-24      0
2020-01-25      0
2020-01-26      0
             ...
2020-07-06    242
2020-07-07    922
2020-07-08    897
2020-07-09    867
2020-07-10    854
Name: deathincrease, Length: 171, dtype: int64

In [ ]:
covid4.to_csv('covid4.csv')

In [ ]:
covid3 = covid2.groupby('date')['positiveincrease'].sum()

In [ ]:
covid3

date
2020-01-22        0
2020-01-23        0
2020-01-24        0
2020-01-25        0
2020-01-26        0
              ...
2020-07-06    47430
2020-07-07    51766
2020-07-08    62147
2020-07-09    58836
2020-07-10    66645
Name: positiveincrease, Length: 171, dtype: int64

In [ ]:
covid3.to_csv('covid3.csv')

In [ ]:
sumcovid=pd.read_csv('gdrive/My Drive/Colab Notebooks/sumcovid.csv')

In [ ]:
sumcovid

          date  positiveincrease  deathincrease
0    1/22/2020                 0              0
1    1/23/2020                 0              0
2    1/24/2020                 0              0
3    1/25/2020                 0              0
4    1/26/2020                 0              0
..         ...               ...            ...
166   7/6/2020             47430            242
167   7/7/2020             51766            922
168   7/8/2020             62147            897
169   7/9/2020             58836            867
170  7/10/2020             66645            854

[171 rows x 3 columns]

In [ ]:
df5=pd.merge(df4, sumcovid, on=['date'],how='left')

In [ ]:
df5

       tic       date  year  ...  type  positiveincrease  deathincrease
0        A   1/2/2020  2020  ...   NaN               NaN            NaN
1        A   1/3/2020  2020  ...   NaN               NaN            NaN
2        A   1/4/2020     0  ...   NaN               NaN            NaN
3        A   1/5/2020     0  ...   NaN               NaN            NaN
4        A   1/6/2020  2020  ...   NaN               NaN            NaN
...    ...        ...   ...  ...   ...               ...            ...
86698  ZTS  6/26/2020  2020  ...   NaN           44421.0          636.0
86699  ZTS  6/27/2020     0  ...   NaN           43507.0          509.0
86700  ZTS  6/28/2020     0  ...   NaN           42183.0          271.0
86701  ZTS  6/29/2020  2020  ...   NaN           36423.0          330.0
86702  ZTS  6/30/2020  2020  ...   NaN           44349.0          596.0

[86703 rows x 60 columns]

In [ ]:
newdf=pd.read_csv('gdrive/My Drive/Colab Notebooks/newdf.csv')

In [ ]:
newdf

       tic  datadate  year  ...  com_all    oth_all          organizationname
0        A  20200101  2020  ...  64.2895  48.861420  Agilent Technologies Inc
1        A  20200102  2020  ...  64.2895  48.861420  Agilent Technologies Inc
2        A  20200103  2020  ...  64.2895  48.861420  Agilent Technologies Inc
3        A  20200104  2020  ...  64.2895  48.861420  Agilent Technologies Inc
4        A  20200105  2020  ...  64.2895  48.861420  Agilent Technologies Inc
...    ...       ...   ...  ...      ...        ...                       ...
91005  ZTS  20200704  2020  ...      NaN  61.534138                Zoetis Inc
91006  ZTS  20200705  2020  ...      NaN  61.534138                Zoetis Inc
91007  ZTS  20200706  2020  ...      NaN  61.534138                Zoetis Inc
91008  ZTS  20200707  2020  ...      NaN  61.534138                Zoetis Inc
91009  ZTS  20200708  2020  ...      NaN  61.534138                Zoetis Inc

[91010 rows x 11 columns]

In [ ]:
newdf['date'] = newdf['datadate'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [ ]:
newdf

       tic  datadate  year  ...    oth_all          organizationname       date
0        A  20200101  2020  ...  48.861420  Agilent Technologies Inc 2020-01-01
1        A  20200102  2020  ...  48.861420  Agilent Technologies Inc 2020-01-02
2        A  20200103  2020  ...  48.861420  Agilent Technologies Inc 2020-01-03
3        A  20200104  2020  ...  48.861420  Agilent Technologies Inc 2020-01-04
4        A  20200105  2020  ...  48.861420  Agilent Technologies Inc 2020-01-05
...    ...       ...   ...  ...        ...                       ...        ...
91005  ZTS  20200704  2020  ...  61.534138                Zoetis Inc 2020-07-04
91006  ZTS  20200705  2020  ...  61.534138                Zoetis Inc 2020-07-05
91007  ZTS  20200706  2020  ...  61.534138                Zoetis Inc 2020-07-06
91008  ZTS  20200707  2020  ...  61.534138                Zoetis Inc 2020-07-07
91009  ZTS  20200708  2020  ...  61.534138                Zoetis Inc 2020-07-08

[91010 rows x 12 columns]

In [ ]:
newdf=newdf.drop(columns=['datadate'])

In [ ]:
newdf.to_csv('new.csv')

In [ ]:
new=pd.read_csv('gdrive/My Drive/Colab Notebooks/new.csv')

In [ ]:
new

       tic      date  year  ...  com_all    oth_all          organizationname
0        A  1/1/2020  2020  ...  64.2895  48.861420  Agilent Technologies Inc
1        A  1/2/2020  2020  ...  64.2895  48.861420  Agilent Technologies Inc
2        A  1/3/2020  2020  ...  64.2895  48.861420  Agilent Technologies Inc
3        A  1/4/2020  2020  ...  64.2895  48.861420  Agilent Technologies Inc
4        A  1/5/2020  2020  ...  64.2895  48.861420  Agilent Technologies Inc
...    ...       ...   ...  ...      ...        ...                       ...
91005  ZTS  7/4/2020  2020  ...      NaN  61.534138                Zoetis Inc
91006  ZTS  7/5/2020  2020  ...      NaN  61.534138                Zoetis Inc
91007  ZTS  7/6/2020  2020  ...      NaN  61.534138                Zoetis Inc
91008  ZTS  7/7/2020  2020  ...      NaN  61.534138                Zoetis Inc
91009  ZTS  7/8/2020  2020  ...      NaN  61.534138                Zoetis Inc

[91010 rows x 11 columns]

In [ ]:
df6=pd.merge(df5, new, on=['tic','date'],how="left")

In [ ]:
df6

       tic       date  year_x  ...  com_all_y  oth_all_y          organizationname
0        A   1/2/2020    2020  ...    64.2895   48.86142  Agilent Technologies Inc
1        A   1/3/2020    2020  ...    64.2895   48.86142  Agilent Technologies Inc
2        A   1/4/2020       0  ...    64.2895   48.86142  Agilent Technologies Inc
3        A   1/5/2020       0  ...    64.2895   48.86142  Agilent Technologies Inc
4        A   1/6/2020    2020  ...    64.2895   48.86142  Agilent Technologies Inc
...    ...        ...     ...  ...        ...        ...                       ...
86698  ZTS  6/26/2020    2020  ...        NaN   62.14429                Zoetis Inc
86699  ZTS  6/27/2020       0  ...        NaN   62.14429                Zoetis Inc
86700  ZTS  6/28/2020       0  ...        NaN   62.14429                Zoetis Inc
86701  ZTS  6/29/2020    2020  ...        NaN   62.14429                Zoetis Inc
86702  ZTS  6/30/2020    2020  ...        NaN   62.14429                Zoetis Inc

[86703 rows x 69 columns]

In [ ]:
df6.to_csv('df6.csv')

In [ ]:
df6=pd.read_csv('gdrive/My Drive/Colab Notebooks/df6.csv')

In [ ]:
df6

       tic       date        skc  ...  type  positiveincrease  deathincrease
0        A   1/2/2020  61.840046  ...   NaN               NaN            NaN
1        A   1/3/2020  61.840046  ...   NaN               NaN            NaN
2        A   1/4/2020  61.840046  ...   NaN               NaN            NaN
3        A   1/5/2020  61.840046  ...   NaN               NaN            NaN
4        A   1/6/2020  61.840046  ...   NaN               NaN            NaN
...    ...        ...        ...  ...   ...               ...            ...
86698  ZTS  6/26/2020  72.861470  ...   NaN           44421.0          636.0
86699  ZTS  6/27/2020  72.861470  ...   NaN           43507.0          509.0
86700  ZTS  6/28/2020  72.861470  ...   NaN           42183.0          271.0
86701  ZTS  6/29/2020  72.861470  ...   NaN           36423.0          330.0
86702  ZTS  6/30/2020  72.861470  ...   NaN           44349.0          596.0

[86703 rows x 19 columns]